name: ImmortalWrt Build

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: read
  checks: read
  packages: read
  pull-requests: read

env:
  PROFILE: sl3000-emmc
  DTS_NAME: mt7981b-sl3000-emmc
  DTS_FILE: target/linux/mediatek/files-6.12/arch/arm64/boot/dts/mediatek/mt7981b-sl3000-emmc.dts
  DTS_MK: target/linux/mediatek/files-6.12/arch/arm64/boot/dts/mediatek/Makefile
  MK_FILE: target/linux/mediatek/image/filogic.mk
  TARGET_DIR: bin/targets/mediatek/filogic
  CCACHE_DIR: ~/.ccache

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Say hello
        run: echo "hello"
